/*
Theme Name:     Hortical Storefront Child
Theme URI:      https://www.f5sites.com
Description:    Custom adaptation for project need
Author:         Francisco Matelli Matulovic
Author URI:     https://www.franciscomat.com
Template:       storefront
Version:        0.1
*/

@import url("fonts/purisa/stylesheet.css");

/*@import url("../storefront/style.css");*/

.site-header {
	z-index: 0 !important;
}

body {
	font-family: 'purisamedium';
}
.entry-content {
	font-family: "Source Sans Pro","​Helvetia","​sans-serif" !important;
}
.woocommerce-breadcrumb, .woocommerce-breadcrumb  a {
	color: #444 !important;
	font-family: "Source Sans Pro","​Helvetia","​sans-serif" !important;	
}
#site-navigation .page_item,#site-navigation  .menu-item {
	background-color: rgba(0,0,0,0.4) !important;
	padding-left: 10px;
}